name: Release

on:
  push:
    branches: [ 'release/**' ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release name
        id: release_name
        uses: actions/github-script@v4
        with:
          script: |
            const branch_name = process.env.GITHUB_REF
            const web3j_release_version = branch_name.substring(branch_name.lastIndexOf('/') +1 ,branch_name.length  )
            process.env.VERSION = web3j_release_version
            return web3j_release_version
        env:
          VERSION: ${{ steps.release_name.outputs.result }}
  git-release:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Github Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: v+${{ steps.release_name.outputs.result }}
          prerelease: false
          files: |
            "web3j-"+${{ steps.release_name.outputs.result }}.*

